@using Auger.Models

@model AssignmentDetailsViewModel

@{
    ViewBag.Title = Model.Assignment.AssignmentName;
    ViewBag.BodyClass = "full";
    ViewBag.BrowseRoot = @Url.Content($"~/Browse/{Model.Course.CourseId}/{Model.Assignment.AssignmentId}");
    bool hasSubmissions = Model.Submissions.Any();
}

@section Breadcrumbs {
  <li><a href="~/">Auger Home</a>
  <li><a href="~/Assignment/SelectCourse">@Model.Course.ShortName</a>
  <li><a href="~/Assignment">Assignments</a>
  <li>@Model.Assignment.AssignmentName
}

<h3 style="margin-bottom:0;">
  @Model.Assignment.AssignmentName
  <a href="~/Assignment/Edit/@Model.Assignment.AssignmentId" class="btn btn-primary pull-right hidden-xs" role="button">
    <span class="fa fa-edit"></span>&nbsp;Edit Assignment
  </a>
</h3>
<table class="small" style="margin-bottom: 10px">
  @if (Model.Assignment.DueDate.HasValue)
  {
    var due = Model.Assignment.DueDate.Value;

    <tr>
      <th>Assignment Due By:</th>
      <td style="padding-left:5px;">@due.ToShortDateString() @due.ToShortTimeString()</td>
    </tr>
  }
  @if (hasSubmissions)
  {
    <tr>
      <th>Submission Date:</th>
      <td>
        <select class="" id="selectSubmission" name="selectSubmission">
          @foreach (var submissionChoice in Model.Submissions)
          {
            <option value="@submissionChoice.StudentSubmissionId">@submissionChoice.SubmissionName</option>
          }
        </select>
      </td>
    </tr>
  }
</table>

@if (hasSubmissions)
{
  <div id="page-loading-div"></div>
  <div id="results-div" class="hidden"> <!-- DEFAULT TO HIDDEN -->
    <a id="retest" class="pull-right btn btn-sm btn-default" role="button">
      <span class="fa fa-check"></span>&nbsp;Recheck
    </a>
    <ul class="nav nav-tabs" id="tabs">
      <li class="active"><a data-toggle="tab" id="tabFeedback" href="#paneFeedback">Feedback</a></li>
      <li class=""><a data-toggle="tab" id="tabView" href="#paneView">Submission</a></li>
    </ul>
    <div class="tab-content" style="padding:0">
      <div class="tab-pane active" id="paneFeedback">
        @Html.Partial("_ViewFeedback")
      </div>

      <div class="tab-pane" id="paneView">
        @Html.Partial("_ViewSubmission")
      </div>
    </div>
  </div>
}
else
{
  <div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
      <h4>No Submission Yet</h4>
    </div>
    <div class="panel-body">
      You have not yet submitted this assignment. Once you have edited and
      submitted the assignment, you will see your submission as well as some
      preliminary feedback here.
    </div>
  </div>
}

@section Scripts {
  <script>

    $(function () {

      $('#selectSubmission').change(function () {
        FolderChanging();
        FeedbackChanging();

        $('#selectSubmission').prop('disabled', true);
        showLoadingDiv($('#page-loading-div'));
        $('#results-div').addClass('hidden');

        var submissionId = $('#selectSubmission').val();

        $.ajax({
          url: '@Url.Action("GetSubmissionDetails")',
          data: {
            userId: '@ApplicationUser.Current.Id',
            courseId: @Model.Course.CourseId,
            assignmentId: @Model.Assignment.AssignmentId,
            submissionId: submissionId
          },
          type: 'POST',
          dataType: 'json'
        }).done(function (data) {
          FolderChanged(data.Folder);
          FeedbackChanged(data.Results);

          $('#selectSubmission').prop('disabled', false);
          hideLoadingDiv($('#page-loading-div'));
          $('#results-div').removeClass('hidden');

          $(window).resize();
        }).fail(function (xhr, textStatus, errorThrown) {
          alert(errorThrown);
        });
      });
      $('#selectSubmission').val($('#selectSubmission option:last').val());
      $('#selectSubmission').change();

      $('#retest').click(function () {
        FeedbackChanging();

        var $btn = $('#retest');
        var btnText = $btn.html();
        $btn.html('<i class="fa fa-spinner fa-spin"></i> Testing...');
        $btn.addClass('disabled');

        $.ajax({
          url: '@Url.Action("RetestSubmission")',
          data: {
            userId: '@ApplicationUser.Current.Id',
            courseId: '@Model.Assignment.CourseId',
            assignmentId: '@Model.Assignment.AssignmentId',
            submissionId: $('#selectSubmission').val()
          },
          type: 'POST',
          dataType: 'json'
        }).done(function (data) {
          FeedbackChanged(data);

          $btn.html(btnText);
          $btn.removeClass('disabled');
        }).fail(function (xhr, textStatus, errorThrown) {
          alert(errorThrown);
        });
        return false;
      });

    });
  </script>
}
