@using Auger.Models;
@model AssignmentIndexViewModel
@{
    ViewBag.Title = "Assignments";
}

@section Breadcrumbs {
  <li><a href="~/">Auger Home</a>
  <li><a href="~/Assignment/SelectCourse">@Model.Course.ShortName</a>
  <li>Assignments
}

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="panel panel-primary" style="margin-top: 15px;">
      <div class="panel-heading"><h4>Unsubmitted Assignments</h4></div>
      <div class="panel-body" style="padding: 0">
        @if (Model.UnsubmittedAssignments.Any())
        {
          foreach (var assignment in Model.UnsubmittedAssignments)
          {
            <div class="col-lg-6" style="padding:3px">
              <a href="~/Assignment/Details/@assignment.AssignmentId" class="btn btn-primary" style="width:100%">
                <h4><i class="fa fa-folder-open-o" style="margin-right:10px"></i>@assignment.AssignmentName</h4>
                <table align="center" class="small">
                  <tr>
                    <th class="text-right">Due:</th>
                    <td class="text-left" style="padding-left:5px;">@assignment.DueDate.ToString()</td>
                  </tr>
                </table>
              </a>
            </div>
          }
        }
        else
        {
            <p>No unsubmitted assignments found</p>
        }
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="panel panel-default" style="margin-top: 15px;">
      <div class="panel-heading"><h4>Submitted Assignments</h4></div>
      <div class="panel-body" style="padding: 0;">
        @if (Model.SubmittedAssignments.Any())
        {
          foreach (var submission in Model.SubmittedAssignments)
          {
            var dueString = "";
            var due = submission.StudentAssignment.Assignment.DueDate;
            if (due.HasValue)
            {
              dueString = due.Value.ToShortDateString() + " " + due.Value.ToShortTimeString();
            }

            <div class="col-lg-6" style="padding:3px">
              <a href="~/Assignment/Details/@submission.StudentAssignment.AssignmentId" class="btn btn-default" style="width:100%">
                <h4><i class="fa fa-folder-open" style="margin-right:10px"></i>@submission.StudentAssignment.Assignment.AssignmentName</h4>
                <table align="center" class="small">
                  <tr>
                    <th class="text-right">Due:</th>
                    <td class="text-left" style="padding-left:5px;">@dueString</td>
                  </tr>
                  <tr>
                    <th class="text-right">Submitted:</th>
                    <td class="text-left" style="padding-left:5px;">@submission.SubmissionName</td>
                  </tr>
                </table>
              </a>
            </div>
          }
        }
        else
        {
            <p>No submitted assignments found</p>
        }
      </div>
    </div>
  </div>
</div>


<div class="clearfix"></div>
