@model PlaygroundEditViewModel
@{
    ViewBag.Title = "Edit Playground";
    ViewBag.BodyClass = "full";
    ViewBag.CanSubmit = false;
    ViewBag.CanShare = Model.IsInstructorForCourse;
    ViewBag.IsShared = Model.Playground.IsShared;
    ViewBag.IsReadOnly = !Model.Playground.IsOwner;
}

@section Head {
  <script>
    var _basePath = '@Url.Content("~/Playground/")';
    var _browseRoot = '@Url.Content($"~/BrowsePlay/{Model.Playground.CourseId}/{Model.Playground.UserName}/{Model.Playground.PlaygroundId}")';
    var _baseDataObject = {
      userName: '@Model.Playground.UserName',
      courseId: @Model.Playground.CourseId,
      repositoryId: @Model.Playground.PlaygroundId,
      playgroundId: @Model.Playground.PlaygroundId
    };
  </script>
}

@section Breadcrumbs {
  <li><a href="~/">Auger Home</a>
  <li><a href="~/Playground/SelectCourse">@Model.Course.ShortName</a>
  <li><a href="~/Playground">Playgrounds</a>
  <li>@Model.Playground.Name <i>@(Model.Playground.IsOwner ? "" : "(SHARED)")</i>
}

<div class="visible-xs">
  Sorry. Editing is not supported on this device.
</div>
<div class="hidden-xs">
  @Html.Partial("_IDE")
</div>
