@model ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<ol class="breadcrumb">
  <li><a href="~/">Auger Home</a>
  <li>@ViewBag.Title
</ol>

<h2>@ViewBag.Title</h2>
<h3>Create a <b>new</b> Auger account using your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below (usually your email address) 
        and click the Register button to finish logging in and create your new account.
    </p>

    <div class="panel panel-danger">
      <div class="panel-heading">
        WARNING
      </div>
      <div class="panel-body">
        <p>
          Clicking Register below will create a <b>NEW</b> account. If you are a student,
          this is likely <b>NOT</b> what you want to do. Instead, you should first log
          in to your Course Management System and click an assignment link to return to
          Auger as a registered member of your course. Then, you can click the "Linked
          Logins" menu item from the drop-down menu at the top left of the screen to link
          your account with @ViewBag.LoginProvider.
        </p>
        <p>
          If you are an instructor hoping to use Auger in your classroom, you should
          proceed with this registration process.
        </p>
      </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/scripts/jqueryval")
}
