@using System.Security.Claims;
@{
    string theme = "dark";
    ApplicationUser user = null;
    string avatar = "";
    if (Request.IsAuthenticated)
    {
      user = ApplicationUser.Current;
      theme = user.Theme;
      var email = user.Email?.ToLowerInvariant();
      var sb = new System.Text.StringBuilder();
      sb.Append("https://www.gravatar.com/avatar/");

      // Use input string to calculate MD5 hash
      using (System.Security.Cryptography.MD5 md5 = System.Security.Cryptography.MD5.Create())
      {
        byte[] inputBytes = System.Text.Encoding.ASCII.GetBytes(email);
        byte[] hashBytes = md5.ComputeHash(inputBytes);

        // Convert the byte array to hexadecimal string
        for (int i = 0; i < hashBytes.Length; i++)
        {
          sb.Append(hashBytes[i].ToString("x2"));
        }
      }
      sb.Append("?d=mm&s=40");
      avatar = sb.ToString();
    }
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Auger - @ViewBag.Title</title>

  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

  @Styles.Render("~/styles/core-" + theme)

  @Scripts.Render("~/scripts/compat")
  @Scripts.Render("~/scripts/core")


  @RenderSection("head", required: false)
</head>
<body class="@ViewBag.BodyClass">
  <div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="~/" class="navbar-brand" style="padding-top: 9px;padding-bottom:0;"><img src="~/Content/auger-logo.png" style="height:42px" /></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          @if (Request.IsAuthenticated)
          {
            <li>@Html.ActionLink("Assignments", "Index", "Assignment")</li>
            <li>@Html.ActionLink("Playgrounds", "Index", "Playground")</li>

            //if (((ClaimsIdentity)User.Identity).HasClaim(c => c.Type == ApplicationUser.SystemRoleClaim && c.Value != UserRoles.LearnerRole))
            if (ApplicationUser.Current.IsInRole(UserRoles.InstructorRole, UserRoles.SuperUserRole))
            {
              <li>@Html.ActionLink("Administration", "Index", "CourseAdmin")</li>
            }
          }
        </ul>
        @if (Request.IsAuthenticated)
        {
          using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
          {
            @Html.AntiForgeryToken()
          }
          <ul class="nav navbar-nav navbar-right" style="margin:0">
            <li class="dropdown">
              <a href="~/Manage/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top:10px;padding-bottom:0;">
                <img src="@avatar" style="border-radius:20px;">&nbsp;@user.FullName&nbsp;<span class="caret"></span>
              </a>
              <ul class="dropdown-menu noclose">
                <li><a href="~/User/EditSelf?returnUrl=@Html.Encode(Request.RawUrl)">User Profile</a></li>
                <li><a href="~/Manage/ManageLogins">Linked Logins</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
              </ul>
            </li>
          </ul>
        }
        else
        {
          <ul class="nav navbar-nav navbar-right" style="margin:0">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
          </ul>
        }
      </div>
    </div>
  </div>

  @if (IsSectionDefined("Breadcrumbs"))
  {
    <div class="container-fluid">
      <div class="breadcrumb-container" style="padding-top:5px">
        <ol class="breadcrumb">
          @RenderSection("Breadcrumbs", required: false)
        </ol>
      </div>
    </div>
  }
  <div class="container-fluid body-content">
    @RenderBody()
  </div>
  <div class="container-fluid">
    <footer class="text-center">
      <p>&copy; @DateTime.Now.Year - Augusta University</p>
    </footer>
  </div>

  @RenderSection("scripts", required: false)
</body>
</html>
