<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Auger - @ViewBag.Title</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  @RenderSection("head", required: false)
</head>
<body class="@ViewBag.BodyClass">
  @RenderBody()

  @RenderSection("scripts", required: false)
</body>
</html>
