@model Auger.Models.Data.Assignment

@{
  ViewBag.Title = "Edit Assignment Properties";
}

@section Breadcrumbs {
<li><a href="~/">Auger Home</a>
<li><a href="~/CourseAdmin">Manage Courses</a>
<li><a href="~/CourseAdmin/CourseDetails/@Model.CourseId">@Model.Course.CourseLabel</a>
<li><a href="~/CourseAdmin/AssignmentDetails/@Model.CourseId/@Model.AssignmentId">@Model.AssignmentName</a>
<li>Assignment Properties
}

@section Head {
  <script src="~/Scripts/moment.js"></script>
  <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
  <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
}

<h2>Edit Assignment Properties</h2>


@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AssignmentId)

    <div class="form-group">
      <label for="AssignmentName">Assignment Name</label>
      @Html.EditorFor(model => model.AssignmentName, new { @class = "form-control" })
      @Html.ValidationMessageFor(model => model.AssignmentName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
      <label for="AssignmentName">Due Date</label>
      @Html.EditorFor(model => model.DueDate, new { @class = "form-control" })
      @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group text-right">
      <input type="submit" value="Save" class="btn btn-primary" />
      <a href="~/CourseAdmin/AssignmentDetails/@Model.CourseId/@Model.AssignmentId" class="btn btn-default" role="button">Cancel</a>
    </div>
  </div>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
