@model Auger.Models.Data.Course

@{
    ViewBag.Title = "Create Course";
}

<h2>Create Course</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.LtiContextId)

    <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(model => model.CourseTitle, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CourseTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CourseTitle, "", new { @class = "text-danger" })
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.CourseLabel, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CourseLabel, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CourseLabel, "", new { @class = "text-danger" })
      </div>

      <div class="form-group">
        <div class="checkbo x">
          @Html.EditorFor(model => model.IsActive)
          @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
          @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group text-right">
        <input type="submit" value="Create" class="btn btn-default" />
      </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
