@model Auger.Models.Data.Enrollment

@{
    ViewBag.Title = "Enrollment Details";
}

@section Breadcrumbs {
  <li><a href="~/">Auger Home</a>
  <li><a href="~/CourseAdmin">Manage Courses</a>
  <li><a href="~/CourseAdmin/CourseDetails/@Model.CourseId">@Model.Course.CourseLabel</a>
  <li>@Model.UserName
}

<h2>@Model.UserName</h2>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="btn-group btn-group-xs pull-right" role="group">
          <a class="btn btn-primary" href="~/CourseAdmin/EnrollmentEdit/@Model.CourseId/@Model.EnrollmentId">
            <i class="fa fa-edit"></i>&nbsp;Edit
          </a>
          <a class="btn btn-primary" href="~/CourseAdmin/EnrollmentDelete/@Model.CourseId/@Model.EnrollmentId">
            <i class="fa fa-close"></i>&nbsp;Delete
          </a>
        </h4>
        <h4>Enrollment Details</h4>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>
            @Html.DisplayNameFor(model => model.UserName)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.UserName)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.UserId)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.UserId)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.Roles)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.AllRoles)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.IsActive)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.IsActive)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.DateCreated)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.DateModified)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.DateModified)
          </dd>
        </dl>
      </div>
    </div>
  </div>
  @{ 
    var studentsSubmitted = Model.StudentAssignments.Where(sa => sa.HasSubmission);
    var studentsUnsubmitted = Model.StudentAssignments.Where(sa => !sa.HasSubmission);
  }
  <div class="col-sm-4">
    <div class="panel panel-primary panel-list">
      <div class="panel-heading">
        <h4>
          Submitted Assignments
          <span class="badge pull-right">@studentsSubmitted.Count()</span>
        </h4>
      </div>
      <div class="panel-body">
        @if (studentsSubmitted.Any())
        {
          foreach (var sa in studentsSubmitted)
          {
            <a href="~/CourseAdmin/StudentAssignmentDetails/@Model.CourseId/@sa.StudentAssignmentId" class="list-group-item">
              <i class="fa fa-folder-open"></i>&nbsp;@sa.Assignment.AssignmentName
            </a>
          }
        }
        else
        {
          <p>No submitted assignments found</p>
        }
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-primary panel-list">
      <div class="panel-heading">
        <h4>
          Unsubmitted Assignments
          <span class="badge pull-right">@studentsUnsubmitted.Count()</span>
        </h4>
      </div>
      <div class="panel-body">
        @if (studentsUnsubmitted.Any())
        {
          foreach (var sa in studentsUnsubmitted)
          {
            <a href="~/CourseAdmin/EnrollmentDetails/@Model.CourseId/@sa.EnrollmentId" class="list-group-item">
              <i class="fa fa-folder"></i>&nbsp;@sa.Assignment.AssignmentName
            </a>
          }
        }
        else
        {
          <p>No unsubmitted assignments found</p>
        }
      </div>
    </div>
  </div>
</div>
