@using Auger.Models

@model StudentAssignmentDetailsViewModel

@{
    var assignment = Model.StudentAssignment.Assignment;
    var enrollment = Model.StudentAssignment.Enrollment;
    var course = assignment.Course;

    ViewBag.Title = "View " + assignment.AssignmentName + " for " + enrollment.UserName;
    ViewBag.BodyClass = "full";
    ViewBag.BrowseRoot = @Url.Content($"~/BrowseUser/{course.CourseId}/{enrollment.UserName}/{assignment.AssignmentId}");
}

@section Breadcrumbs {
  <li><a href="~/">Auger Home</a>
  <li><a href="~/CourseAdmin">Manage Courses</a>
  <li><a href="~/CourseAdmin/CourseDetails/@course.CourseId">@course.CourseLabel</a>
  <li><a href="~/CourseAdmin/AssignmentDetails/@course.CourseId/@assignment.AssignmentId">@assignment.AssignmentName</a>
  <li>Evaluate Assignment
}

<h3>Evaluate @assignment.AssignmentName</h3>
<div class="row">
  <div class="col-sm-6 form-inline">
    <div class="form-group">
      <label for="selectUser">User:</label>
      <div class="input-group">
        <a href="#" id="userPrev" class="btn input-group-addon"><span class="fa fa-arrow-left"></span></a>
        <select class="form-control" id="selectUser" name="selectUser" style="max-width:unset;">
          @foreach (var sa in Model.AllAssignments.OrderBy(sa => sa.Enrollment.UserName))
          {
            var selected = sa.StudentAssignmentId == Model.StudentAssignment.StudentAssignmentId ? "selected" : "";

            <option value="@sa.StudentAssignmentId" @selected>@sa.Enrollment.UserName</option>
          }
        </select>
        <a href="#" id="userNext" class="btn input-group-addon" style="width:auto;"><span class="fa fa-arrow-right"></span></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 text-right-not-xs">
    <table class="small text-left" style="display:inline-table;">
      @if (assignment.DueDate.HasValue)
      {
        var due = assignment.DueDate.Value;

        <tr>
          <th>Assignment Due By:</th>
          <td style="padding-left:5px;">@due.ToShortDateString() @due.ToShortTimeString()</td>
        </tr>
      }
      <tr>
        <th>Submission Date:</th>
        <td>
          <select class="" id="selectSubmission" name="selectSubmission">
            @foreach (var submissionChoice in Model.StudentAssignment.Submissions)
            {
              <option value="@submissionChoice.StudentSubmissionId">@submissionChoice.SubmissionName</option>
            }
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="page-loading-div"></div>
<div id="results-div" class="hidden">
  <!-- DEFAULT TO HIDDEN -->
  <a id="retest" class="pull-right btn btn-default btn-sm" role="button">
    <span class="fa fa-check"></span>&nbsp;Recheck
  </a>

  <ul class="nav nav-tabs" id="tabs" style="margin-top:10px;">
    <li class="active"><a data-toggle="tab" id="tabFeedback" href="#paneFeedback">Feedback</a></li>
    <li class=""><a data-toggle="tab" id="tabView" href="#paneView">Submission</a></li>
  </ul>

  <div class="tab-content" style="padding:0">
    <div class="tab-pane active" id="paneFeedback">
      @Html.Partial("_ViewFeedback")
    </div>

    <div class="tab-pane" id="paneView">
      @Html.Partial("_ViewSubmission")
    </div>

  </div>
</div>

@section Scripts {
  <script>
    var isBusy = false;

    function busy() {
      isBusy = true;
      $('#selectUser').prop('disabled', true);
      $('#selectSubmission').prop('disabled', true);
      $('#results-div').addClass('hidden');
      showLoadingDiv($('#page-loading-div'));
    }

    function ready() {
      isBusy = false;
      $('#selectUser').prop('disabled', false);
      $('#selectSubmission').prop('disabled', false);
      hideLoadingDiv($('#page-loading-div'));
      $('#results-div').removeClass('hidden');
      $(window).resize();
    }

    $(function () {
      $('#selectUser').change(function () {
        busy();
        var assignmentId = $('#selectUser').val();
        window.location.href = '@Url.Content($"~/CourseAdmin/StudentAssignmentDetails/{assignment.CourseId}/")' + assignmentId;
      });

      $('#userNext').click(function () {
        if (isBusy) return;
        var $sel = $('#selectUser > option:selected');
        if ($sel.next().length > 0) {
          $sel.next().prop('selected', true);
        } else {
          $('#selectUser > option').first().prop('selected', true);
        }
        $('#selectUser').change();
      });

      $('#userPrev').click(function () {
        if (isBusy) return;
        var $sel = $('#selectUser > option:selected');
        if ($sel.prev().length > 0) {
          $sel.prev().prop('selected', true);
        } else {
          $('#selectUser > option').last().prop('selected', true);
        }
        $('#selectUser').change();
      });

      $('#selectSubmission').change(function () {
        FolderChanging();
        FeedbackChanging();

        busy();

        var submissionId = $('#selectSubmission').val();

        $.ajax({
          url: '@Url.Action("GetSubmissionDetails")',
          data: {
            userId: '@enrollment.UserId',
            courseId: @course.CourseId,
            assignmentId: @assignment.AssignmentId,
            submissionId: submissionId
          },
          type: 'POST',
          dataType: 'json'
        }).done(function (data) {
          FolderChanged(data.Folder);
          FeedbackChanged(data.Results);
          ready();
        }).fail(function (xhr, textStatus, errorThrown) {
          alert(errorThrown);
        });
      });
      $('#selectSubmission').val($('#selectSubmission option:last').val());
      $('#selectSubmission').change();

      $('#retest').click(function () {
        if (isBusy) return;
        FeedbackChanging();

        var $btn = $('#retest');
        var btnText = $btn.html();
        $btn.html('<i class="fa fa-spinner fa-spin"></i> Testing...');
        $btn.addClass('disabled');

        $.ajax({
          url: '@Url.Action("RetestSubmission")',
          data: {
            userId: '@enrollment.UserId',
            courseId: '@course.CourseId',
            assignmentId: '@assignment.AssignmentId',
            submissionId: $('#selectSubmission').val()
          },
          type: 'POST',
          dataType: 'json'
        }).done(function (data) {
          FeedbackChanged(data);

          $btn.html(btnText);
          $btn.removeClass('disabled');
        }).fail(function (xhr, textStatus, errorThrown) {
          alert(errorThrown);
        });
        return false;
      });
    });

  </script>
}
