@using Auger.Models

@model StudentAssignmentDetailsViewModel

@{
    var assignment = Model.StudentAssignment.Assignment;
    var enrollment = Model.StudentAssignment.Enrollment;
    var submission = Model.SelectedSubmission;
    var course = assignment.Course;
    ViewBag.Title = "View " + assignment.AssignmentName + " for " + enrollment.UserName;
    ViewBag.BodyClass = "full";
    ViewBag.SubmissionName = submission.Submission.SubmissionName;
}

@section Breadcrumbs {
  <li><a href="~/">Auger Home</a>
  <li><a href="~/CourseAdmin">Manage Courses</a>
  <li><a href="~/CourseAdmin/CourseDetails/@course.CourseId">@course.CourseLabel</a>
  <li><a href="~/CourseAdmin/AssignmentDetails/@course.CourseId/@assignment.AssignmentId">@assignment.AssignmentName</a>
  <li>Evaluate Assignment
}

@if (assignment.DueDate.HasValue)
{
    <div class="hidden-xs pull-right" style="font-size:20px;margin-top:30px;">Due: @assignment.DueDate.Value.ToShortDateString() @assignment.DueDate.Value.ToShortTimeString()</div>
}
<h2>Evaluate @assignment.AssignmentName</h2>
<div class="row">
  <div class="col-sm-7 form-inline">
    <div class="form-group">
      <label for="selectUser">User:</label>
      <div class="input-group">
        <a href="#" id="userPrev" class="btn input-group-addon"><span class="fa fa-arrow-left"></span></a>
        <select class="form-control" id="selectUser" name="selectUser" style="max-width:unset;">
          @foreach (var sa in Model.AllAssignments.OrderBy(sa => sa.Enrollment.UserName))
          {
            var selected = sa.StudentAssignmentId == Model.StudentAssignment.StudentAssignmentId ? "selected" : "";

              <option value="@sa.StudentAssignmentId" @selected>@sa.Enrollment.UserName</option>
          }
        </select>
        <a href="#" id="userNext" class="btn input-group-addon" style="width:auto;"><span class="fa fa-arrow-right"></span></a>
      </div>
    </div>
  </div>
  <div class="col-sm-5 form-inline text-right-not-xs">
    <div class="form-group">
      <label for="selectSubmission">Submission:</label>
      <select class="form-control" id="selectSubmission" name="selectSubmission" style="max-width:unset;">
        @foreach (var submissionChoice in Model.StudentAssignment.Submissions)
        {
          var selected = submissionChoice.StudentSubmissionId == submission.Submission.StudentSubmissionId ? "selected" : "";

            <option value="@submissionChoice.StudentSubmissionId" @selected>@submissionChoice.SubmissionName</option>
        }
      </select>
    </div>
  </div>
</div>

<div class="text-center hidden" id="busydiv" style="padding: 50px">
  <div class="fa fa-spin fa-spinner" style="font-size: 60pt;"></div>
  <div style="font-size: 18pt; margin-top: 50px;">LOADING<br>PLEASE WAIT</div>
</div>
<div id="evaldiv">
  <a id="retest" class="pull-right btn btn-primary btn-sm" role="button"
     href="~/CourseAdmin/RetestSubmission/@course.CourseId/@submission.Submission.StudentSubmissionId">
    <span class="fa fa-check"></span>&nbsp;Re-test Submission
  </a>

  <ul class="nav nav-tabs" id="tabs" style="margin-top:20px;">
    <li class="active"><a data-toggle="tab" id="tabFeedback" href="#paneFeedback">View Feedback</a></li>
    <li class=""><a data-toggle="tab" id="tabView" href="#paneView">View Submission</a></li>
  </ul>

  <div class="tab-content text-left" style="padding:10px 15px 15px 15px">
    <div class="tab-pane active" id="paneFeedback">
      @if (submission.Submission.FullResults == null)
      {
          submission.Submission.FullResults = new TestResults();
      }
      @Html.Partial("_ViewFeedback", submission.Submission.FullResults)
    </div>

    <div class="tab-pane" id="paneView">
      @Html.Partial("_ViewSubmission", submission)
    </div>

  </div>
</div>

@section Scripts {
  <script>
    var isBusy = false;
    $(function () {
      function busy() {
        isBusy = true;
        $('#selectUser').prop('disabled', true);
        $('#selectSubmission').prop('disabled', true);
        $('#evaldiv').addClass('hidden');
        $('#busydiv').removeClass('hidden');
      }

      $('#selectUser').change(function () {
        busy();
        var assignmentId = $('#selectUser').val();
        window.location.href = '@Url.Content($"~/CourseAdmin/StudentAssignmentDetails/{assignment.CourseId}/")' + assignmentId;
      });

      $('#userNext').click(function () {
        if (isBusy) return;
        var $sel = $('#selectUser > option:selected');
        if ($sel.next().length > 0) {
          $sel.next().prop('selected', true);
        } else {
          $('#selectUser > option').first().prop('selected', true);
        }
        $('#selectUser').change();
      });

      $('#userPrev').click(function () {
        if (isBusy) return;
        var $sel = $('#selectUser > option:selected');
        if ($sel.prev().length > 0) {
          $sel.prev().prop('selected', true);
        } else {
          $('#selectUser > option').last().prop('selected', true);
        }
        $('#selectUser').change();
      });

      $('#selectSubmission').change(function () {
        busy();
        var submissionId = $('#selectSubmission').val();
        window.location.href = '@Url.Content($"~/CourseAdmin/StudentAssignmentDetails/{assignment.CourseId}/{Model.StudentAssignment.StudentAssignmentId}")/' + submissionId;
      });

      $('#retest').click(function () {
        if (isBusy) return;
        var $btn = $('#retest');
        $btn.html('<i class="fa fa-spinner"></i>');
        $btn.addClass('btn-danger disabled');
        $.ajax({
          url: $btn.attr('href'),
          type: 'POST',
          dataType: 'json'
        }).done(function (data) {
          location.reload();
        }).fail(function (xhr, textStatus, errorThrown) {
          alert(errorThrown);
        });
        return false;
      });
    });

  </script>

  @Html.Partial("_ViewSubmissionScript", Url.Content($"~/BrowseUser/{assignment.CourseId}/{enrollment.UserName}/{assignment.AssignmentId}"))

}
